// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
$table-padding: 20px;
$links-padding: 3px!important;

.product-table {
  width: 100%;
  th, td {
    padding-right: $table-padding;
  }
  th {
    background-color: rgb(153, 204, 255);
  }

}
.links th, td {
  padding: $links-padding;
}
