// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-table {
  width: 100%;
  th {
    background-color: rgb(153, 204, 255);
    padding: 0px 20px 0px 0px;
  }
  .data td {
    padding: 20px!important;
  }
  .links td {
    padding: 1px!important;
  }
}
