<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>
<div class="container">
    <table class="product-table table table-striped">
      <thead>
        <tr class="row">
          <th>Name</th>
          <th>Description</th>
          <th>Image url</th>
          <th>Color</th>
          <th>Price</th>
          <th class="links" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @products %>
      </tbody>
    </table>
</div>
<br>

<%= link_to 'New Product', new_product_path %>
